.main-headinganimate-text {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeUp 1.2s ease-out forwards;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.sub-headinganimate-text {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeUp1 1.2s ease-out forwards;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.3px;
}

@keyframes fadeUp1 {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.accent {
    color: #4a90e2;
}

.header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 15px 30px;
    background-color: #e8ebf0; 
}


.logo {
    font-size: 39px;
    font-weight: bold;
    color: #3161d9;
}


.header-buttons {
    display: flex;
    gap: 15px; 
}
.btn{
    margin: 30px 0 0 0;
    padding: 8px 20px;          
    width: 80%;
    height:80%;
    border: 1px solid hsla(0,72%,27%,0);
    font: bold 1.2em myFirstFont;
    color: #fff;
    background-color: #2e77ed;
    border-radius:5px;
    margin-right: 15px;
}
.btn:hover{
    background-color: #1a61d3;
}
.btn1{
     display: inline-block;       
    padding: 12px 25px;    
    width:70px;
    height:30px;      
    font: bold 1.2em myFirstFont;
    color: #fff;                 
    background-color: #2e77ed;   
    border-radius: 5px;         
    border: none;
    text-decoration: none;       
    text-align: center;         
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn1:hover{
    background-color: #1a61d3;
}
.pic{
    float: right;    
    margin-top: -180px;  /* pushes image to the right */
    max-width: 55%;     /* keeps it from being too big */
    height: auto;       /* maintain aspect ratio */
    margin-left: 20px;  /* space from text if any */
}
@media (max-width: 768px) {

    .main-headinganimate-text {
        font-size: 22px;
    }

    .logo,
    .sub-headinganimate-text {
        font-size: 18px;
        margin-top: 10px;
    }

    .pic {
        float:none;
        display: block;
        max-width: 80%;
        margin: 20px auto;
    }

    .btn {
        width: 90%;
        height:80%;
        padding: 30px;
        display: block;
        margin: 25px auto;
        font-size: 1em;
    }
    .content-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    text-align: center;
    
}
.main-headinganimate-text{
    margin-top: 50px;
    margin-bottom: 10px;
}
.pic{
    margin-top: 30px;
    max-width: 400px;
    height:auto;
}
}
