.user_guide{
    font-size: 300%;
    text-align:center;
}
.content1{
    font-size: 150%;
}
.body {
    height: 100%;
    margin: 0;
    min-height: 100vh;
    background-image:
        linear-gradient(
            rgba(173, 216, 230, 0.6), 
            rgba(173, 216, 230, 0.6)
        ),
    url("money1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.understand{
    text-align: center;
}
@media (max-width: 600px) {
    .user_guide {
        font-size: 180%;
    }

    .content1 {
        font-size: 110%;
    }
}